.outer{
font-family: "Sawarabi Mincho"; 
}

.top{
height:80px;
width:100%;
}

.label{
width:100%;
position:fixed;
z-index:1000;
top:0;
background-color:#080808;
height:94px;
}

.clickbox{
float:left;
padding:5px;
margin:20px 20px;
}

.fa-chevron-circle-down{
font-size:25px;
color:white;
}

.menu{
float:left;
display:none;
width:91%;
margin:32px 10px;
text-align:center;
}

.menu li{
display:inline-block;
font-size:19px;
margin:0 51px;
}

.white{
color:white;
}

.at_3{
color:red;
}

.center{
width:100%;
}

.tytlebox{
text-align:center;
padding:174px;
}

.tytle{
font-size:50px;
padding:5px;
}

.main{
width:90%;
margin:0 auto;
}

.left{
display:inline-block;
width:49%;
}

.right{
display:inline-block;
width:49%;
margin-left:13px;
}

a{
color:white;
}

a:hover{
text-shadow:2px 2px 7px #f9e112;
}

.pic1{
width:43vw;
height:46vh;
background-image:url(../image/about_me.JPG);
background-size:cover;
background-position:center center;
position:relative;
margin-bottom:10vh;
}

.pic1:hover{
box-shadow:8px 8px 4px 3px #aaa;
}

.pra1{
position:absolute;
top:4vw;
left:4vh;
z-index:1;
font-size:42px;
color:white;
display:none;
}

.pic2{
width:43vw;
height:46vh;
background-image:url(../image/89.jpg);
background-size:cover;
background-position:center center;
position:relative;
}

.pic2:hover{
box-shadow:8px 8px 4px 3px #aaa;
}

.pra2{
position:absolute;
bottom:3vw;
left:6vh;
z-index:1;
font-size:42px;
color:white;
display:none;
}

.pic3{
width:43vw;
height:46vh;
background-image:url(../image/photo.JPG);
background-size:cover;
background-position:center center;
position:relative;
margin-bottom:10vh;
}

.pic3:hover{
box-shadow:8px 8px 4px 3px #aaa;
}

.pra3{
position:absolute;
bottom:4vw;
left:4vh;
z-index:1;
font-size:42px;
color:white;
display:none;
}

.pic4{
width:43vw;
height:46vh;
background-image:url(../image/works.jpg);
background-size:cover;
background-position:center center;
position:relative;
}

.pic4:hover{
box-shadow:8px 8px 4px 3px #aaa;
}

.pra4{
position:absolute;
top:12vw;
left:3vh;
z-index:1;
font-size:42px;
color:white;
display:none;
}

.bottom{
width:100%;
background-color:black;
height:50vh;
margin-top:27vh;
}

.bottom-box{
padding-top:100px;
position:relative;
}

.content{
width:40%;
position:absolute;
top:13vh;
left:3vw;
z-index:1;
}

.bottom-tytle-box{
width:100%;
text-align:center;
}

.bottom-tytle{
font-size:45px;
color:white;
}

.conect{
display:table;
width:100%;
font-size:6vh;
padding-top:7vh;
padding-left:7vw;
}

.insta{
display:table-cell;
color:white;
}

.twitter{
display:table-cell;
color:white;
}

.face{
display:table-cell;
color:white;
}

.word{
width:40%;
margin-left:30px;
position:absolute;
top:10vh;
right:14vw;
z-index:1;
}

.last{
text-align:center;
width:100%;
}

.last li{
margin:21px 20px;
font-size:28px;
color:white;
}

@media(max-width:590px){
.label{
height:unset;
}

.clickbox{
float:none;
}

.menu{
float:none;
}

.menu li{
display:block;
margin:2vh 0;
}

.tytlebox{
padding:unset;
margin:10vh 0;
}

.left{
display:block;
width:100%;
margin-bottom:10vh;
}

.pic1{
width:100%;
}

.pra1{
top:41vw;
}

.pic2{
width:100%;
}

.pra2{
left:25vh;
}

.right{
margin:0;
width:100%;
}

.pic3{
width:100%;
}

.pra3{
bottom:48vw;
}

.pic4{
width:100%;
}

.bottom{
height:79vh;
}

.content{
width:100%;
}

.conect{
padding-left:12vw;
}

.word{
width:100%;
top:36vh;
right:0;
}











}






























